@import "./base/variables.scss";
@import "./base/mixins.scss";

.AboutWrapper {
  min-height: $min-height;
  background-color: $light-grey;

  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    color: orange;
  }
  h3 {
    color: white;
    font-weight: 500;
    width: 60%;
  }
}
