@import "./base/variables.scss";

.FavListWrapper {
  min-height: $min-height;
  background-color: $light-grey;
  .NoMovies {
    color: white;
    margin-left: 1rem;
    span {
      color: orange;
    }
  }
  .FavList {
    h3 {
      color: white;
      margin-left: 1rem;
      font-size: $medium-font-size;
    }
  }
  .NumMovies {
    color: white;
    margin-left: 1rem;
    display: block;
    text-align: center;
    padding-bottom: 2rem;
  }
}
