@import "./base/variables.scss";
@import "./base/mixins.scss";

.DetailsWrapper {
  min-height: $min-height;
  background-color: $light-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  .DetailsContainer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 94%;
    min-height: 80vh;
    background-color: $dark-grey;
    border-radius: 10px;

    .MovieMain {
      h2,
      h3 {
        color: #00c4ff;
      }

      padding-left: 3rem;
      padding-top: 2rem;
      display: flex;
      @include for-phone-only {
        flex-direction: column;
        padding-left: 1rem;
      }
      img {
        height: 30rem;
        border-radius: 12px;
        @include for-phone-only {
          align-self: center;
        }
      }
    }
    .MainDetails {
      margin-left: 8%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .MainDetailsHeader {
        @include for-phone-only {
          align-self: center;
        }
        h2 {
          margin-bottom: -0.8rem;
          color: white;
        }
        .MiniDetails {
          display: flex;
          p:last-child {
            margin-left: 1rem;
          }
        }
      }
      .Overview {
        width: 70%;
        @include for-phone-only {
          width: 85%;
        }
      }
    }
    .Otherinfo {
      display: flex;
      justify-content: space-between;

      .cover {
        display: flex;
        flex-direction: column;
      }
      .cover:first-child {
        margin-right: 5rem;
      }
      .cover:last-child {
        margin-right: 8rem;
        @include for-phone-only {
          margin-right: 3rem;
        }
      }
    }
    .CastDetails {
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
        color: #00c4ff;
      }
    }
  }
}
