@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:wght@300;400;600&display=swap");

$site-font: "Montserrat", sans-serif;

$standard-font-size: 1rem;
$medium-font-size: 1.5rem;
$large-font-size: 2rem;
$site-line-height: 1.5;

$Dark-color: #202124;
$light-grey: #303134;
$dark-grey: #262525;
